@tailwind base;
@tailwind components;
@tailwind utilities;


/* html {
  --color--black: #000;
  --color--white: #fff;
  --color--stone--600: #57534e;
  --color--stone--800: #292524;
  --color--gray--200: #e5e7eb; 
  --color--bg: #f6f6f6;
}

html[data-theme='dark'] {
  --color--black: rgb(255, 255, 255);
  --color--white: rgb(0, 0, 0);
  --color--stone--600: #ded5ca;
  --color--stone--800: #dac4bf;
  --color--gray--200: #202121;
  --color--bg: #101010;
} */
a {
  color:  luyi(cb);
}
body {
 background-color: luyi(cbg);
 color: luyi(cb)
}

/*
  --color--black: rgb(255, 255, 255);
  --color--white: rgb(0, 0, 0);
  --color--stone--600: #ded5ca;
  --color--stone--800: #dac4bf;
  --color--gray--200: #202121;
  --color--bg: #101010;

  --color--black: #000;
  --color--white: #fff;
  --color--stone--600: #57534e;
  --color--stone--800: #292524;
  --color--gray--200: #e5e7eb; 
  --color--bg: #f6f6f6;
*/



/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
